/* http://meyerweb.com/eric/tools/css/reset/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  color: #333;
  font-family: 'Lora', serif;
  font-size: 16px;
  line-height: 150%;
  margin: 0 auto;
  width: 640px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  margin: 10px 0;
  text-transform: uppercase;
}

a, a:visited {
  color: #EF2800;
}

p {
  line-height: 21px;
  margin: 0 0 10px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.header {
  border-bottom: 1px solid #AAA;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  width: 100%;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: center;
  align-items: center;
}

.header a,
.header a:visited {
  color: #000;
  text-decoration: none;
}

.name {
  font-weight: bolder;
  font-size: 21px;
  text-transform: uppercase;
}

.tagline{
  color: #aaa;
  font-size: 10px;
  line-height: 100%;
  margin-bottom: -10px;
}

.logo {
  margin: 15px 0;
}

.logo a,
.logo a:link,
.logo a:active,
.logo a:visited {
  color: #EF2800;
}

.nav a {
  padding: 0 10px;
}

.nav a:hover {
  text-decoration: underline;
}

.main {
  margin: 25px 0;
}

h1 {
  font-size: 21px;
  font-weight: bold;
}

.footer {
  background: #FAFAFA;
  border-top: 1px solid #AAA;
  font-size: 10px;
  text-align: center;
  padding: 6px 0;
}
