extends _templates/_base.pug
block variables
  - var currentPage = 'about'
block content
  section.page
    h1.page-title About me
    ul
      li Vin&iacute;cius Andrade
      li 31 years old
    p
      | I'm a software engineer with a deep interest in the consequences of code in human systems. My main career goals are to support those human systems and provide new ways of economic and social interactions through code. 
    p
      | Software is a tool, not an end in itself. Software has to be simple. This aim for simplicity serves me as a guiding principle and is an extremely challenging goal to achieve. A challenge that moves me every day.
    p
      | I have almost 10 years of experience with web development. The last 5 of those I've spent more focused on front-end development, but I still like and often do contribute with back-end code.
    p
      | I spend my time building front-ends (web & native mobile) for 
      a(href='https://werkspot.nl') Werkspot
      |  an international marketplace for home services.
    p
      | I used to be the lead front-end developer for&nbsp;
      a(href='https://catarse.me') Catarse
      | ,&nbsp;
      a(href='https://github.com/catarse') an open-source
      | &nbsp;crowdfunding platform.
    p You can find other things I've done here:
    ul
      li
        a(href='https://github.com/vicnicius') Github
    p 
      | or reach me out at &nbsp;
      a(href="mailto:me@vicnicius.com") me@vicnicius.com
