extends _templates/_base.pug
block variables
  - var currentPage = 'about'
block content
  h1.page-title About me
  ul
    li Vin&iacute;cius Andrade
    li 29 years old
    li from Bras&iacute;lia, Brazil
    li living in Hilversum, Netherlands
  p
    | Software Developer with interests spread over a considerably wide gamma of topics: from politics, economy, sociology and education to blockchains, artificial intelligence, functional programming, cybersecurity and math.
  p
    | I believe in changing the future of our society for better through code, and I want to explore the different potential ways of doing it. For doing so, I know I have to build a solid understanding on a diverse range of topics.
  p This space is my attempt to do so.
  p You can also find me here:
  ul
    li
      a(href='https://twitter.com/vicnicius') Twitter
    li
      a(href='https://br.linkedin.com/in/vicnicius') LinkedIn
    li
      a(href='https://github.com/vicnicius') Github
