extends _templates/_base.pug
block variables
  - var currentPage = 'about'
block content
  h1.page-title About me
  ul
    li Vin&iacute;cius Andrade
    li 30 years old
  p
    | Software Developer with interests spread over a considerably wide gamma of topics: from politics, economy, sociology and education to blockchains, artificial intelligence, functional programming, cybersecurity and math.
  p
    | I believe in changing the future of our society for better through code, and I want to explore the different potential ways of doing it.
  p You can also find me here:
  ul
    li
      a(href='https://github.com/vicnicius') Github
