include _templates/head.pug
include _templates/navigation.pug
body
  article
    h1 Vin&iacute;cius Andrade
    p.subtitle Senior Front-end Engineer
    section
      p
        | I'm a software engineer with a deep interest in the consequences of code in human systems. My main career goals are to support those human systems and provide new ways of economic and social interactions through code.
      p
        | Software is a tool, not an end in itself. Software has to be simple. This aim for simplicity serves me as a guiding principle and is an extremely challenging goal to achieve. A challenge that moves me every day.
      p
        | I have almost 10 years of experience with web development. The last 5 of those I've spent more focused on front-end development, but I still like and often do write back-end code.
      p
        | You can reach me out at&nbsp;
        a(href="mailto:me@vicnicius.com") me@vicnicius.com
        | .
  script(async src='https://www.googletagmanager.com/gtag/js?id=UA-107691493-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-107691493-1');
