@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
* {
  box-sizing: border-box;
}
html,
body {
  background: #FAFFCF;
  color: #111;
  margin: .5rem;
  height: 100%;
  font-family: 'Libre Baskerville', serif;  
  font-size: 16px;
}
a {
  color: #CC2C1E;
}
p, li{
  line-height: 24px;
  max-width: 100%;
}
.page {
  max-width: 700px;
}
.nav {
  position: relative;
  width: 100%;
}
.nav-list {
  border-bottom: 1px solid #111;
  display: flex;
  margin: 0;
  padding: 0 0 1.5rem;
  list-style: none;
}
.nav-item {
  margin-right: 1em;
  height: 1.5rem;
}
.nav-link {
  line-height: 2rem;
  font-size: 1rem;
  text-decoration: none;
}
.nav-link--current {
  font-weight: bold;
}
.home {
  text-align: center;
}
.home-title {
  display: block;
  font-size: 1.5rem;
  height: 2rem;
  left: 0;
  margin-top: -1rem;
  position: absolute;
  width: 100%;
  top: 50%;
}
.home-subtitle {
  display: block;
  font-size: 1.5rem;
  height: 2rem;
  left: 0;
  margin-top: -1rem;
  position: absolute;
  width: 100%;
  top: calc(50% + 2em);
}
.page-title {
  margin-top: 2rem;
}
.footer {
  border-top: 1px solid #111;
  margin: 2rem 0 2rem;
  padding-top: 1rem;
}
.footer button {
  margin-bottom: .5rem;
}
.footer p{
  font-size: 12px;
}
