block variables
include navigation.pug
// Layout 
doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='initial-scale = 1.0,maximum-scale = 1.0')
  title Vin&iacute;cius Andrade
  link(rel='stylesheet' type='text/css' href='/style.css')
body
  +nav(currentPage || 'home')
  block content
  footer.footer
    button(onclick='window.scrollTo(0,0)') Back to top
    p
      | 2017 - This work is licensed under a 
      a(rel='license' href='http://creativecommons.org/licenses/by/4.0/') Creative Commons Attribution 4.0 International License
      | . 
