extends ../_templates/_base.pug
block variables
  - var currentPage = 'journal'
block content
  a(href='/journal/')
    h1.page-title Journal
  h2 /About education
  i 22-05-2016 - updated: 17-10-2017
  p
    | Some free notes gathered while researching about the educational problems of our society:
  ul
    li
      p
        | Generally speaking, western societies based it&rsquo;s compulsory educational systems in France&apos;s. By it&rsquo;s way, the french educational system was based on the 19th century Prussian system.
    li
      p
        | The Prussian Educational System objective was to
        strong
          em &ldquo;produce more soldiers and more obedient citizens&rdquo;
        | .
    li
      p
        | The industrialized mindset gave the system it&rsquo;s final touches, applying some basic principles of industrial production to achieve large scale literacy.
    li
      p
        | Obedience, strict hierarchy, depersonalization and uniformity. Those characteristics are present in schools and industries alike.
    li
      p
        | The school system was built to fulfill the industries human resource needs. Through the process, this same system carefully works to separate the average student from the brilliant ones. The former will learn it&rsquo;s role and tasks and will execute them endlessly while the later will be our future industrial leaders.
    li
      p
        | When cognitive labour became the most important mean of production, the economic power started influencing the processes of &quot;thought&quot; creation. Competition &amp; meritocracy pave the way to an economy. Creativity and technique are used as tools of economic confrontation.

