h1.page-title Journal
p Some stuff I&apos;ve been working on lately.
ul
  li
    a(href='/journal/about-education.html') About education
  li
    a(href='/journal/a-game-development-journey/') A game development journey
    ul
      li
        a(href='/journal/a-game-development-journey/introduction.html') Introduction
      li
        a(href='/journal/a-game-development-journey/scoping.html') Scoping
      li
        a(href='/journal/a-game-development-journey/first-steps.html') First steps
  li
    a(href='/journal/functional-programming/') Functional Programming
    ul
      li
        a(href='/journal/functional-programming/index.html') Introduction
      li
        a(href='/journal/functional-programmingy/why-fp-maters.html') Scoping
  li
    a(href='/journal/society-future/') Thoughts on society future
